﻿@model IEnumerable<MoneyTransfer.Models.Cash>

@{
    ViewData["Title"] = "GetListOfTransfers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transfer History</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Sum
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FromUser.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ToUser.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransferDate)
    </td>
</tr>
}
    </tbody>
</table>
