﻿@model MoneyTransfer.ViewModels.CashViewModel
@{
    ViewData["Title"] = "TransferToAnyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>TransferToAnyAccount</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TransferToAnyAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalNumber" class="control-label"></label>
                <input asp-for="PersonalNumber" class="form-control" />
                <span asp-validation-for="PersonalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
